<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>
<body>
    <div class="headerContainer">
        <div class="logoStarbucksShop">
            <a href="index.html">
                <img src="../../assets/icons/starbucks.svg" alt="Logo de Starbucks" style="width:50px; margin-right: 20px;">
            </a>
        </div>
        <h1 class="logoText">Starbucks Shop</h1>
        <div>
            <img src="../../assets/icons/panier.svg" alt="Logo de Starbucks" style="width:50px;">
        </div>
    </div>
</body>
</html>