@import url("../../styles/main.css");

.headerContainer {
  display: flex;
  width: 100vw;
  align-items: center;
}

.inline {
  display: inline;
}

.headerContainer .logoText {
  vertical-align: baseline;
}

.logoStarbucksShop {
  display: flex;
  align-items: center;
}

.logoText {
  font-weight: bold;
  margin-right: auto;
  height: fit-content;
}