<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <script type="module" src="./footer.js"></script>
    <title>Footer</title>
</head>
<body>
    <template id="custom-footer">
        <div class="footerContainer">
            <div class="footerLinksContainer">
                <a class="footerLink" href="#">À propos</a>
                <a class="footerLink" href="#">Mentions légales</a>
                <a class="footerLink" href="#">Gestion des cookies</a>
                <a class="footerLink" href="#">Gestion des données</a>
            </div>
            <div class="footerSocialMedia">
                <p>Réseaux sociaux</p>
                <img src="../../assets/icons/instagram.svg" alt="Logo d'Instagram" style="width:35px">
                <img src="../../assets/icons/facebook.svg" alt="Logo de Facebook" style="width:40px">
                <img src="../../assets/icons/x.svg" alt="Logo de X" style="width:40px">
            </div>
        </div>
    </template>
    <footer id="footer"></footer>
</body>
</html>