@import url("../../styles/main.css");

.footerLink {
    color: black;
}

@media screen and (max-width: 768px) {
    .footerLink {
        display: block;
    }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: bottom;
    }
}

@media screen and (min-width: 769px) {
    .footerLink {
        display: inline;
        margin-right: 3%;
    }

    .footerContainer {
        justify-content: space-between;
    }

    .footerLinksContainer {
        width: 70%;
    }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

footer {
    width: 95%;
    padding: 0 15px 0 15px;
    padding-bottom: 20px;
}

