:root {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --base-green: #006241;
    --lighter-green: oklch(from var(--base-green) clamp(0, l + 0.22, 1) calc(c*0.9) h);
    --darker-green: oklch(from var(--base-green) clamp(0, l - 0.22, 1) calc(c*0.9) h);
    --green-complement: oklch(from var(--base-green) l calc(c*0.85) calc(h - 180));

    --base-neutral: #CCE0D8;
    --lighter-neutral: oklch(from var(--base-neutral) clamp(0, l + 0.22, 1) calc(c*0.9) h);
    --darker-neutral: oklch(from var(--base-neutral) clamp(0, l - 0.22, 1) calc(c*0.9) h);
    --neutral-complement: oklch(from var(--base-neutral) l calc(c*0.85) calc(h - 180));

    --base-accent: #CC9664;
    --lighter-accent: oklch(from var(--base-accent) clamp(0, l + 0.22, 1) calc(c*0.9) h);
    --darker-accent: oklch(from var(--base-accent) clamp(0, l - 0.22, 1) calc(c*0.9) h);
    --accent-complement: oklch(from var(--base-accent) l calc(c*0.85) calc(h - 180));

    --base-black: #00171F;
    --lighter-black: oklch(from var(--base-black) clamp(0, l + 0.22, 1) calc(c*0.9) h);
    --darker-black: oklch(from var(--base-black) clamp(0, l - 0.22, 1) calc(c*0.9) h);

    --base-white: oklch(from var(--base-black) clamp(0, l + 0.88, 1) c h);
    --lighter-white: oklch(from var(--base-white) clamp(0, l + 0.22, 1) calc(c*0.9) h);
    --darker-white: oklch(from var(--base-white) clamp(0, l - 0.22, 1) calc(c*0.9) h);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 8px;
    padding: .5rem 1rem;
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;

    background-color: var(--base-green);
    color: var(--base-white);

    & a {
        display: flex;
    }

    & .cart-icon {
        margin-left: auto;
    }
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.bold {
    font-weight: bold;
}

.flex {
    display: flex;
}

.spaceBetween {
    justify-content: space-between;
}

.footerLink {
    color: black;
}

@media screen and (max-width: 768px) {
    .footerLink {
        display: block;
    }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: bottom;
    }
}

@media screen and (min-width: 769px) {
    .footerLink {
        display: inline;
        margin-right: 3%;
    }

    .footerContainer {
        justify-content: space-between;
    }

    .footerLinksContainer {
        width: 70%;
    }

    .footerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

footer {
    width: 100%;
    padding: 1rem 2rem;
}

.center {
    display: flex;
    justify-content: center;
}


.spaceAround {
    padding: 10px;
}

@media screen and (min-width: 400px) and (max-width: 1080px) {
    .spaceAround {
        padding: 50px;
    }
}