td {
    border: 1px solid black;
}

table {
    width: 100%;
    max-width: 1200px;
}

.spaceAround {
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .spaceAround {
        padding: 50px;
    }
}

.textAlignedEnd {
    display: flex;
    align-items: end;
}