@import url(./main.css);
@import url(./header.css);
@import url(./footer.css);

.spaceAround {
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .spaceAround {
        padding: 50px;
    }
}

.textAlignedEnd {
    display: flex;
    align-items: end;
}