@import url(./main.css);

main {
    max-width: 80ch;
    margin: auto;

    &>* {
        margin-bottom: 1rem;
    }
}

.product-preview {
    background-color: var(--lighter-green);
    aspect-ratio: 3/2;

}

.product-details {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}

.add-to-cart-btn {
    padding-inline: 2rem;
    padding-block: .5rem;
}

.cart-controls {
    display: flex;
    justify-content: space-evenly;

    & button {
        padding-top: .25rem;
        padding-inline: 1rem;
    }
}