@import url(./main.css);

:root {

    --base-black: #00171F;
    --lighter-black: oklch(from var(--base-black) clamp(0, l + 0.22, 1) calc(c*0.9) h);
    --darker-black: oklch(from var(--base-black) clamp(0, l - 0.22, 1) calc(c*0.9) h);

    --base-white: oklch(from var(--base-black) clamp(0, l + 0.88, 1) c h);
    --lighter-white: oklch(from var(--base-white) clamp(0, l + 0.22, 1) calc(c*0.9) h);
    --darker-white: oklch(from var(--base-white) clamp(0, l - 0.22, 1) calc(c*0.9) h);
}

main {
    max-width: 50rem;
    margin: 2rem auto;

    & section {
        margin: 1rem 0;
    }
}

.product-preview {
    background-color: var(--base-neutral);
    aspect-ratio: 3/2;
    border-radius: 8px;
    /* max-height: 360px; */
}

.product-summary {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    width: auto;
}

.product-details {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 1rem;
    align-items: center;

    & h2 {
        margin-right: 2rem;
    }
}

.add-to-cart-btn {
    padding-inline: 2rem;
    padding-block: .5rem;
    background-color: var(--base-green);
    color: white;
    font-size: 1rem;
}

.cart-controls {
    display: flex;
    gap: .5rem;
    margin-left: auto;

    & button {
        width: 1.5rem;
        height: 1.5rem;
        padding-inline: .5rem;
        background: none;
        border-radius: 50%;
        border: 1px solid var(--base-green);
    }
}

.product-settings {
    & input[type=file] {
        width: 100%;
        border: 1px solid var(--base-green);
        border-radius: 8px;

        &::file-selector-button {
            height: 2rem;
            padding-inline: 1rem;
            width: 100%;
            background-color: transparent;
            border: none;
            color: var(--base-green);
        }


        &:hover {
            border: 1px solid var(--lighter-green);
            cursor: pointer;

            &::file-selector-button {
                color: var(--lighter-green);
            }
        }

        &:focus {
            border: 1px solid var(--darker-green);
        }
    }

    &>* {
        margin-bottom: .5rem;
    }
}

.product-setting {
    display: flex;
    align-items: center;
    height: 2rem;
    gap: .5rem;

    & input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        outline: none;
        transition: border-color 0.3s, box-shadow 0.3s;

        & :checked::after {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    #blanc {
        background-color: var(--base-white);

        &:hover {
            border-color: var(--lighter-white);
        }

        &:focus {
            box-shadow: 0 0 0 3px var(--darker-white);
        }

        &:checked {
            border-color: var(--darker-white);
        }

        & :checked::after {
            background: white;
        }
    }

    #noir {
        background-color: var(--base-black);

        &:hover {
            border-color: var(--lighter-black);
        }

        &:focus {
            box-shadow: 0 0 0 3px var(--darker-black);
        }

        &:checked {
            border-color: var(--darker-black);
        }

        & :checked::after {
            background: white;
        }
    }

}

.wrapper {
    display: flex;
    gap: 3rem;
}

.product-description {
    max-width: 80ch;
}