.grid12Cols {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: column;
    grid-gap: 20px;
    overflow: scroll;
}

.columnSpan3 {
    grid-column: span 3;
}

.columnSpan4 {
    grid-column: span 4;
}

@media (max-width: 576px) {
    .columnSpan6 {
        grid-column: span 6;
    }
}